@import 'bourbon';
@import 'base/base';

// sculpt the site's overall aesthetic by editing the contents of base/
// bourbon and neat content should not be edited.
// stylesheets with a more specific purpose should be imported below.

html {
	background: #1E1E1E;
	color: white;
}
body {
	width: 600px;
	max-width: 95%;
	margin: 50px auto;
}
.page {
	margin: 200px auto;
	h2 {
		font-size: 9rem;
		margin-left: -150px;
		font-family: 'Ubuntu Mono';
		font-weight: 400;
	}
	p,q {
		font-size: 1.2rem;
	}
	p {
		margin: 35px;
	}
	q {
		display: block;
		quotes: none;
		padding: 12px 15px;
		border-radius: 15px;
		margin: 20px;
	}
	q.claire {
		background: #FFF38F;
		color: black;
	}
	q.brick {
		background: #343145;
	}
	q.screen {
		background: black;
	}
}
.chapter-title {
	span.chapter-number {
		font-size: 5rem;
	}
	h1 {
		font-size: 8rem;
	}
}