@import 'bourbon';
@import 'base/base';

// sculpt the site's overall aesthetic by editing the contents of base/
// bourbon and neat content should not be edited.
// stylesheets with a more specific purpose should be imported below.

html {
	background: #1E1E1E;
	color: white;
}
body {
	// width: 600px;
	// max-width: 95%;
	// margin: 50px auto;
	margin: 0;
}
nav#primary {
	margin-bottom: 20px;
	background:#30333c;
	// padding: 15px;
	a {
		padding: 15px 30px;
		display: inline-block;
	}
}
a.giant {
	font-size: 3.5rem;
	display: block;
	margin: 30px 0px;
	// margin-bottom: 80px;
}
.page {
	margin: 200px auto;
	width: 600px;
	max-width: 95%;
	h2 {
		font-size: 9rem;
		margin-left: -150px;
		font-family: 'Ubuntu Mono';
		font-weight: 400;
	}
	h3 {
		color: #806eb0;
	}
	p,q {
		font-size: 1.2rem;
		position: relative;
	}
	p {
		margin: 35px;
	}
	q {
		display: block;
		quotes: none;
		padding: 12px 15px;
		border-radius: 15px;
		margin: 20px;
	}
	q.tagged {
		span:first-child {
			position: absolute;
			text-align: right;
			right: calc(100% + 40px);
			width: 200px;
		}
		&:before {
			content: ' ';
			height: 2px;
			width: 35px;
			display: block;
			left: -35px; top: 27px;
			position: absolute;
		}
	}
	q.claire {
		&, &.tagged:before {
			background: #FFF38F;
		}
		color: black;
		span:first-child {
			color: #FFF38F;
		}
	}
	q.clemen {
		&, &.tagged:before {
			background: white;
		}
		color: black;
		span:first-child {
			color: white;
		}
	}
	q.brick {
		& {
			background: #343145;
		}
		&.tagged:before {
			background:#706c84;
		}
		span:first-child {
			color: #706c84;
		}
		
	}
	q.sam {
		&, &.tagged:before {
			background: #D87EA8;
		}
		color: black;
		span:first-child {
			color: #D87EA8;
		}
	}
	q.castor {
		& {
			background: #4949c1;
		}
		&.tagged:before {
			background:#4949c1;
		}
		span:first-child {
			color: #4949c1;
		}
	}
	q.pollux {
		& {
			background: #6d4a85;
		}
		&.tagged:before {
			background:#6d4a85;
		}
		span:first-child {
			color: #6d4a85;
		}
	}
	q.screen {
		background: black;
	}
}
.chapter-title {
	span.chapter-number {
		font-size: 5rem;
		color: #706c84;
	}
	h1 {
		font-size: 8rem;
	}
}
.page.contents {
	a {
		font-size: 2em;
		display: block;
		// text-decoration: none;
	}
	a.upcoming {
		color: #666;
	}
	a.mystery {
		color: #333;
	}
}