extends default.pug
block head
	title Long Distance
	meta(name='description', content='Daughter of a Voice, Chapter 2')
	script(src='featherlight.js')
	link(rel='stylesheet' href='featherlight.css')
block content
	.page.chapter-title
		span.chapter-number Chapter 3
		h1 Long <br> Distance
	.big-image(style="background-image: url('chapter2.webp'); background-position: 54% 50%;")
	.page
		h2 01
		p Two months ago, there was a knock at the door of the clinic. Brick peeked through the hole to see three people: a big Russian guy. A tall, skinny woman who was obviously trying to suppress a smile. And a serious looking guy with a military haircut. Brick opened the door. It was the serious looking guy who spoke.

		q.tagged.burnside 
			span Burnside
			span According to official records... it's your birthday.

		p They looked about the room as they entered.

		q.tagged.mitya
			span Mitya
			span Nice place.

		q.tagged.burnside
			span Burnside
			span You get much business?

		q.tagged.brick
			span Brick 
			span Not at first, but it's picking up. My customers are... a bit slow to trust humans.
		
		q.tagged.burnside
			span Burnside
			span Smart of them, isn't it.
		
		q.tagged.brick
			span Brick
			span Maybe.

		q.tagged.burnside
			span Burnside
			span Anyway, look what I found.

		p He held up a tall glass bottle.

		q.tagged.brick
			span Brick
			span That's not some hooch you made in your basement, is it?

		q.tagged.burnside
			span Burnside
			span No, no, no. The real deal. Some fool must have imported it, and then left without it.

		q.tagged.mitya 
			span Mitya
			span Imagine paying for shipping out here, and then not drinking it.

		p Brick examined the bottle. Already opened, with approximately two, no, three shots missing. 

		q.tagged.brick
			span Brick
			span Already been in it, I see.

		q Mitya smiled innocently. 

		q.tagged.mitya 
			span Mitya
			span Had to make sure the goods were up to our standard.

		q.tagged.brick 
			span Brick
			span Brick uh huh.
	
	.page
		h2 02

		p Brick got some glasses from a cupboard, and poured them all a drink. He took a sip himself, and closed his eyes to appreciate it.

		q.tagged.brick Brick So what have you lot been up to?

		p They looked at each other, a hint of awkwardness hung in the air.

		q.tagged.mitya 
			span Mitya
			span Sorry, can't share that with civilians.

		q.tagged.lottie
			span Lottie
			span Don't say it like *that*.

		p Brick simply nodded. Burnside shrugged.

		q.tagged.burnside
			span Burnside
			span Same as always. Making sure the human race doesn't go extinct or anything.

		q.tagged.brick 
			span Brick 
			span Yeah? How's that looking?

		q.tagged.burnside
			span Burnside
			span Better, since you took out our main problem. Nice shot by the way, like, damn.

		q.tagged.mitya 
			span Mitya
			span Yeah, about that. We've been trying to settle something. who's the best shot in Caldera. You or Lottie.

		q.tagged.lottie
			span Lottie
			span what are you, twelve?

		q.tagged.mitya 
			span Mitya
			span Mitya come on. like, who would win in a gun fight?

		q.tagged.burnside 
			span Burnside, rolling his eyes
			span Those aren't even the same question

		q.brick.tagged
			span Brick
			span Hmm. it depends whether Lottie *knows* we're going to have a gunfight.

		q.tagged.mitya 
			span Mitya
			span Such a *you* answer.

		q.tagged.burnside 
			span Burnside
			span I can tell you we're looking into something. If you run into any skinless androids, steer cleer.

		q.brick.tagged 
			span Brick
			span Skinless?

		q.tagged.burnside 
			span Burnside
			span There's word some androids are removing all their skin as a sign of separation with humanity. Or some such nonsense. They resent the fact that they look human. It's time to move beyond all that, they say.

		q.tagged.mitya 
			span Mitya
			span Of course, if they want to rock the Terminator look, we ain't the fashion police.

		q.tagged.burnside 
			span Burnside
			span True. but it's just the kind of rhetoric we've been worried about. So we'll see where it goes. that's all.

	.page
		h2 03

		q.tagged.burnside 
			span Burnside
			span Have you seen they made a little shrine? the androids, I mean.

		p Brick was just starting to smile, but at this his expression fell.

		q.tagged.brick 
			span Brick 
			span ... yeah. Yeah, I've seen it.

		q.tagged.mitya 
			span Mitya
			span Weird. It's like, the mind of an android isn't something we were meant to understand, you know?

		q.tagged.lottie 
			span Lottie
			span I don't know, I don't think it's that hard to understand. It's like a memorial for a parent, right?

	.page
		h2 04
		q.tagged.burnside 
			span Burnside
			span I heard you're leaving. 

		p He looked at his empty glass, but didn't pour another.

		q.burnside.tagged
			span Burnside
			span I was gonna ask if you were ready to join up with us again, but I guess that answers my question. If you wanted your job back, you could have it in a heartbeat. Not that I care, but Lottie missies you.

		q.lottie.tagged 
			span Lottie 
			span Well, I didn't say *that.*

		q.burnside.tagged 
			span Burnside
			span I didn't say you said it.

		q.burnside.tagged
			span Burnside
			span You know, I want to go home too, but we came for a reason. On that note. we should get back to work. 

		p He stood up. Lottie followed suit. Mitya finished his drink first. They headed toward the door.

		q.burnside.tagged 
			span Burnside
			span I know you want to be some kind of neutral party here, but there's no such thing. This is too important.

		p Lottie lingered, looking around the room.

		q.lottie.tagged
			span Lottie
			span This little clinic really is a nice place. I'm glad you... I'm glad you found a place.

		p In a moment, they were gone. He looked at the bottle. He felt heavy. It was a nice parting gift.
	<img src="clinic.jpg" usemap="#image_map">
	<map name="image_map">
		<area alt="surgery" title="surgery" href="#" data-featherlight="#surgery" coords="199,197,712,447" shape="rect">
		<area alt="exam3" title="exam3" href="#" data-featherlight="" coords="721,199,993,447" shape="rect">
		<area alt="exam2" title="exam2" href="" coords="1003,199,1287,449" shape="rect">
		<area alt="exam1" title="exam1" href="" coords="1290,192,1550,449" shape="rect">
		<area alt="storage" title="storage" href="" data-featherlight="#medical-storage" coords="201,459,464,718" shape="rect">
		<area alt="closet" title="closet" href="" coords="196,725,464,830" shape="rect">
		<area alt="lab" title="lab" href="" coords="201,990,602,1160" shape="rect">
		<area alt="office" title="office" href="" coords="195,1166,599,1380" shape="rect">
		<area alt="restrooms" title="restrooms" href="" coords="730,1210,1016,1390" shape="rect">
		<area alt="station" title="station" href="" coords="730,606,893,1008" shape="rect">
		<area alt="business" title="business" href="" coords="977,605,1337,769" shape="rect">
		<area alt="reception" title="reception" href="" coords="1025,802,1355,1015" shape="rect">
		<area alt="waiting" title="waiting" href="" coords="1050,1043,1550,1377" shape="rect">
	</map>

	<a href="#" data-featherlight="#message">This should pop the message.</a>
	div.lightbox#message yo this is a message.
	div.lightbox#medical-storage This room is filled to the brim with curious medical devices. That explains why the rest of the clinic looks so empty.
	.lightbox#surgery In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. 