extends default.pug
block head
	+meta("Shape of a Woman", "Chapter 2 of Daughter of a Voice")
block content
	.page.chapter-title
		span.chapter-number Chapter 2
		h1 Shape <br> of a <br> Woman
	.big-image(style="background-image: url('chapter2.webp'); background-position: 54% 50%;")
	.page
		h2 07
		p It all started one evening when he was reassembling an arm. He'd disassembled it to make an alteration of his own devising. The client was losing his sense of touch in his fingers. This happened over time to nearly all androids eventually, as the latex-like material they had for skin wore out in the areas with the most movement and touch: the hands. 
		p Brick's procedure was to remove all the skin of the hand at the wrist, clean the internals, and install durable sensors directly to the "bones", and leave them uncovered. It left the hands with a skeletal appearance, but more functional and easier to maintain. Now that he'd done it a dozen times, the biggest challenge was convincing the client to part with their arm overnight.
		p He was finishing his adjustments to the arm's outer casing when two androids arrived.
	.page
		h2 08 
		p The one who first spoke was a Helpmate Type B, who went by the name Castor.
		q.tagged.castor
			span Castor
			span Were you successful?
		q.tagged.brick
			span Brick
			span Well I overhauled the arm, yes.

		q.tagged.castor 
			span Castor
			span Is there a problem?

		p His companion stood next to him: a Helpmate Type C who went by the name Pollux. Pollux had a black cat on his shoulder. The cat crawled over to Castor's shoulder and started sticking its paw in Castor's empty arm socket and pawing at wires. Without looking at it, Castor picked it up with his one attached arm and handed it back to Pollux.

		q.tagged.castor
			span Castor
			span I still don't understand why you bring that creature everywhere.

		q.tagged.pollux
			span Pollux
			span She gets bored in the house. We both do.

		p Castor ignored this comment, keeping his mechanical gaze fixed to Brick, awaiting an answer to his question.

		q.brick.tagged
			span Brick
			span Mechanically speaking, no. Mobility should be good as new, sensory experience should be better than new. But the spasms -- you may still experience them, in the arm or elsewhere. I don't believe they're related to the mechanics of the arm. I believe it's a software problem, but I'm looking at your initial scans, and I don't see any problem with the somatic layer -- the part that governs your motor functions explicitly.

		q.tagged.castor 
			span Castor
			span A software problem...
		
		q.tagged.brick
			span Brick
			span If you were a human, I would say it's psychosomatic. A problem in your mind, producing physical symptoms.
		
		q.tagged.castor
			span Castor
			span And you don't fix software problems.

		q.tagged.brick
			span Brick
			span No one does. Sorry. 

		p Brick hesitated, unsure how to broach a delicate subject.

		q.tagged.brick
			span Brick
			span Have you ever heard the term "shivering syndrome"?
		q.castor.tagged
			span Castor
			span It's a motor function error, right? Except...

		p Here Pollux quit fooling with the cat and jumped in with sudden interest.

		q.tagged.pollux
			span Pollux
			span Those who have it are... the phrasing is "reclaimed for repair."

		q.tagged.brick
			span Brick
			span Have you been experiencing any strange thoughts?
		q.tagged.pollux
			span Pollux
			span The machinist has fixed what he can fix. Let's not trouble him further.

		p Here, Pollux cradled the cat protectively. Castor seemed to think for a moment, then paid for the repair, and the two androids left without delay.
	.page
		h2 09
		p It was getting late.

		p Brick went to his front door and stuck his head into the hallway. The only light out here came from the neon green sign outside his door, which depicted a symbol of the Staff of Hermes and the single word: CLINIC. The sign's green glow didn't quite reach the opposite end of the hall. He looked into the darkness there and saw nothing, heard nothing. Satisfied, he turned the sign off and closed the door.

		p Slowly, with a tired mind, Brick put away the collection of small tools he had been using to reassemble and adjust the arm. Though the clinic had some clutter here and there, his tools and parts at least all had a proper place.

	.page
		h2 10
		p Just as he was preparing to leave, there was a chime of the doorbell. Mildly annoyed, he half expected Castor and Pollux to return with some complaint requiring some further adjustment of the arm. But when he looked at the viewer for the camera pointed at the door, he saw something else. In the darkness, by the now unlit sign, it took him a moment to make sense of the shape: a feminine silhouette in formal dress, carrying an umbrella. 
		p He opened the door. 
		p Before him was a woman, or something like it. Clearly an android, but with a design he was not familiar with. Instead of skin, its outer shell was made of a rigid, matte white material, connected by exposed ball joints. Its thin limbs looked almost bonelike.
		p It wore a black, Victorian-inspired button-down top with a frilly collar and sleeves, and matching black pants. The small black umbrella completed the look.
		p The face, like what was visible of the body, was a colorless white. The shape of the face was exquisitely detailed, humanlike and beautiful, but it seemed to be made of one solid piece with no moving parts except for the eyes, which scanned about the room before resting on Brick.
		p Its whole appearance gave the impression of a delicate porcelain doll.

	.page
		h2 11
		p As he was used to the same handful of customers, the prospect of a new one made him turn aside his tiredness to act professional and inviting. 
		q.brick Welcome. Come in.
		p He turned the interior lights back on. The android stepped in, which made almost no sound, and folded up the little umbrella.
		q.tagged.sam 
			span A mechanical woman of curious design
			span Am I correct in assuming you are Adrian Brick?

		p The voice came from the machine somewhere, but not from its mouth. Its lips were seamless and unmoving, like the rest of its mask-like face. 

		q.tagged.brick
			span Brick
			span What can I do for you? I'm about to close up, but would be happy to do an assessment.

		p He looked the android up and down again. He wasn't familiar with the model but he'd never had a problem fixing mechanical problems after looking up the schematics. At a glance, he saw nothing wrong with the android. Actually, she looked pristine. Not a scratch on its hands or face, and barely a speck of dust on its black clothes.

		q.sam No thank you. My caretaker has sent me to request your work on another matter.

		q.brick Alright. What's the issue?

		q.sam A woman named Heidi Lindbergh has gone missing.

		p Brick went to pour coffee from the pot, and then remembered that it was empty.

		q.brick I'm sorry to hear that. 
		p His voice was sympathetic, but without urgency. He found the bag of coffee. It, too, was empty. He hit the brew button on the coffee maker again, running fresh water through old grounds.
		q.brick What does that have to do us?

		q.sam My caretaker would like you to find her.

		q.brick Why me? I'm a machinist.

		q.sam Because you weren't always a machinist.

		p He processed that for a moment.

		q.brick Not that I'm entertaining this, but who's your caretaker?

		q.sam Mr. Clemen Penrose.
	.page
		h2 12

		p Well that was a name he hadn't heard in a while.

		p He'd never met the man, but Clemen Penrose was something of a hermit celebrity. He was the cofounder of THESIS Incorporated, the company responsible for the design and manufacture of all androids on Caldera. While his business partner Dr. Crane was the face of the company and the apparent visionary, Penrose was an artist who kept to himself. While Brick might define a celebrity as someone known for being known, Clemen Penrose was sort of known for being unknown. A public curiosity. 
		//- p Brick wasn't clear exactly what his role was at the company except that he probably had something to do with the unusual aesthetic design of all THESIS androids and appliances. That idea fit with the fact that the android in front of him had the most unusual looks of them all. 
		//- p At any rate, with a position like that he must be rich. Brick was surprised anyone rich was still in Caldera. Then again, maybe Clemen had already left, and just left his android here just like everyone else.
	.page
		h2 13

		q.brick And who is Heidi to Clemen? Girlfriend?

		q.sam I have assumed so.

		q.brick You don't know?

		//- p At first, she didn't answer.

		q.sam He is prepared to pay you 3000 credits. This is who you'll be looking for.

		//- q.brick Not that I'm entertaining it, but what if I don't find her?

		//- q.sam That would be fine. This is who you're looking for.

		p Brick's phone chimed. An email notification. The subject was simply "Heidi Lindbergh" and it had a file attachment. Not wanting to imply his acceptance, he didn't open it. Instead, he folded his arms.

		//- q.sam 3000 credits for a thorough investigation over the next two weeks, regardless of your exact findings. 

		//- p After a moment's thought, he folded his arms. "No." I've got a few things to wrap up in Caldera, and then I'm out of here. I don't want to get distracted.
		q.brick No.

		p That's right. He had only to keep his head down for another three weeks, and he could be done with this godforsaken place. 
		q.brick Sorry, but tell your caretaker I'm not taking on any special jobs right now.

		q.sam There is no need to make a decision today. Please think on it, and I'll return tomorrow for your answer.

		q.brick But I just answered you.

		q.sam I understand. Should you decline, my caretaker is happy to tell the city exactly how much you've done for the android community. 

		p Brick froze.

		q.brick What exactly do you mean by that?

		p The android tilted its head.

		q.sam He said you'd know what it means. He also said it's best to have both a carrot and a stick. 

		p The face, having no movement to it, was impossible to read.

		q.brick You can go now.
		p He waved his hand as if batting away a pest.

		p After having barely moved during the conversation, the android bowed deeply while holding the hem of its dress. Almost a curtsy, a gesture he had not seen outside of period-piece television. It turned and left as quietly as it had come.
	.page 
		h2 14
		p Again, Brick was alone with his thoughts.

		p When he woke up this morning, he wasn't planning to be blackmailed. He ought to refuse the case on principle alone. At least, that's what someone else would say, but Brick wasn't typically swayed by mere principle. Perhaps he should be angry, but found himself unable to summon any kind of emotional outburst. Either the offer was compelling or it wasn't. At the moment he was leaning toward ignoring the whole thing. Whatever Mr. Penrose did, it wouldn't even matter the second Brick stepped onto the shuttle home. Still, 3000 credits was more than he made in two months. 

		p He did a quick search for Clemen Penrose. According to his public profile, he was a "Senior Designer" at THESIS Incorporated. It wasn't clear what this title entailed. Possibly just the aesthetic direction of the androids. Whatever his role once was, THESIS was now a bankrupt company with no CEO, no headquarters and no employees. Hard to believe there was anything to be designed at this point. 

		p Years before THESIS, Clemen was an artist of some sort with a cult following. It seemed Clemen had stayed completely out of the news and limelight since THESIS went under. He owned a large estate on the uppermost floor. Of course, he couldn't be sure from these records that the man actually lived there. Much of the city's records reflected the way things used to be two years ago.
		
		//- p As far as Brick knew, anyone with the wealth to do so had left Caldera some time ago.

		//- p Clemen's life before THESIS wasn't a secret though. He was an artist with something of a cult following.

		//- h3 Clemen's Android

		//- p Since Clemen was some sort of designer, Brick imagined the strange design of Clemen's personal android was a reflection of 

	.page
		h2 15
		p The strange design of Mr. Penrose's android left an impression. Penrose probably at least had a hand in designing its appearance. Its looks followed THESIS' design language, with exposed ball joints and a timeless, low-tech look. But, it was more than that. In some ways it resembled THESIS' earliest creations, which had unmoving faces and a more industrial-looking chassis, before their manufacturing became more precise. This one exhibited these qualities to an extreme degree, but in a unmistakably intentional and refined way. There was an artistic vision here: no compromise, no attempt to be mistaken for a human, no attempt to make humans comfortable. 

		//- p Yes, though he didn't consciously notice it at the time, the android's appearance unsettled him a little. It gave the impression of a gothic doll animated by a ghost.
		
		p Brick had always assumed that the non-realistic look of androids was a cost-saving measure, or because THESIS wasn't yet capable of manufacturing something more lifelike. He assumed that the company's ultimate goal would be to make androids that looked and felt like humans. Suddenly, he wasn't so sure.
		//- p One look at Clemen's personal android called that assumption into question. 

		//- p Indeed, he hadn't noticed it until she left, but looking at this "Samantha" android made him uncomfortable, even though he had grown used to talking to androids in general.
	.page
		h2 16

		p The email the android sent him contained only an attached image with a name and ID number:

		q.screen Heidi Lindbergh HZR-G89WZDQ9345

		p He opened the image, which struck him right away. She had what looked to be a massive burn on the left side of her face. Almost like the skin had melted. Scar tissue drooped slightly. Knowing nothing of medicine, its cause was something he was not qualified to determine, but it reminded him of old photos he'd seen in historical news stories about women deliberately disfigured with acid.

		p Heidi Lindbergh was a name he hadn't heard before — not that he expected to have heard it, but Caldera was a small town these days. Accessing the semi-public directory of its citizens, there was indeed a Heidi Lindbergh. Her last known address was the same as Penrose.

		p According to public record, her address was the same as Penrose. Her occupation was listed as photographer. Other than that, there was no other information. In fact her name seemed to have no internet presence at all.

		p He looked at the photo again. Putting aside the scarring, which shocked him a little less on the second look, she had a beautiful face. To confirm this, Brick put his hand over the burned side and imagined a mirror of the other side. 

		//- p Though he didn't admit it to himself right then, the photo intrigued him on its own. Still, he had little intention of being involved in any of this if he could help it. The shuttle arrived in three weeks.
	.page
		h2 17
		p He put down the photo and poured himself a drink from a dwindling bottle of whiskey: a rare item in Caldera, but it was a gift from an old friend. It'd been a long few months, eating mostly redroot in its endless forms, but with the payment from the twins for the arm repair, Brick managed to save just enough for a seat on the shuttle.

		p At least, that's what he thought until he went to buy one online. The price had nearly doubled. He blinked, then refreshed the page, hoping in vain that it was an error.

		q.screen One ticket to New Alexandria, United Republic of Earth: 5000 credits.

		//- q.screen One ticket to New Alexandria, United Republic of Earth, from Caldera, Mars. 5000 credits (make a graphic of this)

		p He called the shuttle agency. After moment on hold, which gave him a minute to calm himself, he hung up the phone before anyone answered. There was no purpose in demanding an explanation for the price hike. The reason was obvious. Last time, only the most cautious, forward-thinking people wanted a ride home. Now, everyone did. There was still only one shuttle, and the trip took months, depending on the time of year.

		p Of the people still here, many had lots of money and not much to buy with it. Less all the time, in fact.  
		p Maybe he could catch the next one. In 6 months.

		p Six months of redroot and Chinese takeout. Six months of no coffee. Six months of hoping the heat continues to work. It would be miserable enough even if his clientelle didn't turn against him.

		p And who was he kidding. The real reason for the price hike is that the next ride wasn't a guarantee.  There were no guarantees anymore.
	.page
		h2 18
		p After pacing around his apartment, he returned the computer, looked up Clemen Penrose again and committed his alleged current address to memory.

		//- p After his cofounder was arrested and the future of the city was called into question, he figured all the people rich enough to leave had already left. If he was really still here, he wanted to see for himself.

		p He pocketed his phone and walked out the door. Clemen's android promised to return tomorrow, but he didn't like that. It was worth setting the tone that not everything was going to be on Clemen's terms. It had been a while since he'd taken on an investigation of any kind, but not long enough to forget his personal policy: always investigate the client before investigating whatever the client wanted.

		p After a long walk during which he saw no one, he arrived at area 9B, a luxury floor. As such, the hallway was wider and the doors further apart, but other than that looked the same as any other residential floor from the outside. Looking at the numbers on each door, the one belonging to Clemen Penrose was at the very end. The hallway dead-ended into a wall with a single door illuminated by a pair of orb-shaped lights beside it. While the other doors were nondescript, this one had a subtle geometric pattern, polished brass-colored trim, and a doorknob in the form of a curled, elongated lever. There was something stately about it, as if the whole hallway were designed to draw attention to this one door.
	
	.page
		h2 19

		p Brick rang the doorbell, then waited. Nothing happened. Given the hour, Clemen might be asleep. He rang again. The doorbell made no sound to the outside, planting a doubt as to whether it worked (such doubts were the norm in Caldera). He was about to knock when--

		q.sam.tagged
			span A feminine voice
			span How can I help you?
		
		p Muffled through the door, he wasn't sure who it belonged to.

		q.brick.tagged
			span Brick
			span It's Brick.

		p The door opened a crack, showing a woman's silhouette backlit by interior lights. It was the android. For just a moment he thought it was a human; he had to squint to see the mechanical arms and doll-like face which had been so obvious in better lighting.

		q.brick I need to talk to your Caretaker.

		q.sam Mr. Penrose has retired for the evening.

		q.brick If he wants me to take the job, he'll get out of bed.

		p She stood immobile for a moment without reply.

		q.sam I'll retrieve him. 

		p She walked in and left the door ajar, which he took as his invitation. 

		p He was in an expansive open room, which was wrapped in a staircase that spiraled upward along the walls in a square. The estate had a small footprint, but looked to be three or four stories high, and gave a cavernous impression. Above was a great iron chandalier with many protruding lights, looming like a spider.

		p The android ascended the stairs without in perfect rhythm expected from a machine, then disappeared into some hall above.
	.page
		h2 20

		p The place had a checkered black and white tile floor. In the corner was a cozy spot with a plush chair and a rug and a side table. Other than this, there was no furniture in the big square room. Instead, there were numerous white square pedestals, each with some curiosity atop it.

		p With nothing better to do for the moment, Brick examined the strangest looking one. At a glance, it looked to be some mechanical device, but up close it was clearly an art piece. A vaguely humanlike figure made of iron, with a feminine upper half, an iron flower atop its head, and an octopus-like lower half. Its curled lower limbs had movable joints. Brick amused himself by imagining that it was a bizarre little toy for a bizarre little child.

		p The pedestal next to it had a white sculpture of a man's head. Another was a geometric iron sculpture which took on a surprisingly different silhoutte from different viewpoints. Combined with the lack of furniture, the room felt like a museum. In this context, the android's odd design matched the decor.

		p This was the home of an eccentric, without a doubt. But it also fit with his theory that rich people had large homes to house their collection of vanity objects.

		p At last, Samantha came back down the stairs, followed by a small man. He wore striped pajamas and large, round glasses. His blonde hair was so light in color that it almost looked white, making him seem like an old man at a glance, though he was probably no older than 40. And something about the combination of his height, the pajamas and the glasses made him look like a child.

	.page
		h2 21
		p Clemen Penrose looked at his android expectantly.
		q.clemen.tagged
			span Clemen
			span This is Adrian, I presume?

		p The android nodded. Clemen cleared his throat.

		q.clemen I, uh, I take it you've accepted my offer, then. He rubbed his eyes.

		q.brick.tagged
			span Brick
			span Not exactly. I want more details.

		q.clemen Oh, um...

		p Here he paused in thought for a long moment. 
		q.clemen Yes of course. 

		//- p Brick glanced at the android, who was looking looking alternately at Brick and Clemen, moving only her eyes. 

		q.brick let's talk privately.

		p Clemen ushered Brick through a doorway, which led to a kitchen. The android took a step to follow, but Clemen held his hand up.
		q.clemen It's alright.
		p She withdrew. Penrose was a small man, and he wondered if he used Samantha as a bodyguard of sorts. Brick naturally towered over him.

		q.brick Just what exactly do you know about me?

		q.clemen I know what happened to my friend, Dr. Crane. Why it happened. Who's responsible. Your android friends don't know. For the time being, there is no reason to tell them.

		p He sniffled, tilted his head up and held his nose with his eyes closed for a moment, suppressing a sneeze.

		p Sorry. Uh, anyway, I don't want you to work for free of course. Samantha told you, right? 3000 credits. I can pay half now, half in two weeks.
	
	.page
		h2 22

		p Well played, thought Brick. It seemed to Brick that the practical problem with blackmail is, the person being blackmailed has no real assurance that the blackmailer won't use the same information later. They must either rebel, or expect to be the blackmailer's puppet indefinitely. But in this case, in three weeks Brick would be far from here, and the information wouldn't matter anymore. He really had only to go along with this job. And by paying him half up front, it gave the whole arrangement an air of good faith, of a legitimate business transaction between equals. He still felt manipulated, yet, he had no good reason to reject the offer.

		p No, that wasn't entirely true.

	.page
		h2 23

		q.tagged.brick
			span Brick
			span One condition

		q.tagged.clemen
			span Clemen
			span Alright.

		q.brick Let's say I don't find her. Or I find her dead. 

		q.clemen I will of course pay the full amount for two weeks of diligent investigation, regardless of the results. 
		p In contrast to his usually stumbling speech, it seemed that he had rehearsed this part. But that wasn't the condition Brick was most concerned about.

		q.brick Fine. But let's say I find Heidi, she's alive and well, and she doesn't want to see you. I'm not going to tell you where she is.

		p Clemen looked away, suddenly very interested in a painting on his own wall. He responded very quietly. 
		
		q.clemen Yes, of course.

		p Brick hesitated, almost regretting Clemen's agreement, but then offered his hand. 
		
		q.brick Very well, then

		p Clemen went to shake it, but then withdrew his hand, seemingly having suddenly forgot something.

		q.clemen Oh, yes! I do have one condition too. Samantha will accompany you for the investigation.

		q.brick What?

		//- p Clemen waved a hand in reassurance.

		q.clemen I'm sorry, I know it's an inconvenience. But this is how I'll have some assurance that you did all you could to find Heidi, even if you're unsuccessful.

		q.brick But if your android knows where Heidi is, then you could have her tell you.

		q.clemen No, no, not at all. And she can accompany you however you are comfortable. She doesn't have to follow the details of the investigation or accompany you at every moment. But if she stays with you, I'll have some assurance that you were indeed working on the case. That's all.

		p Brick thought of protesting, but had no specific argument just now, and was not the sort to become angry until he had one.
	
	.page
		h2 23
		p In the silence, Clemen coughed again.

		q.clemen To tell you the truth, there's another reason I want Samantha to accompany you. She, uh, doesn't get out much. She hasn't seen much of Caldera. She likes to ask questions, like a child, you see. I suppose in a way, she is. I want her to see a bit more of the world. I feel selfish keeping her here with me all the time. 
		
		q.clemen She's old enough to be curious about the city. I'd feel better if someone went with her. All the better if it's someone who knows how androids work, should anything happen. I'm just an old man who feels protective, that's all. I'd show her around myself, but it's, uh, it's hard for me to get out these days.

	
	.page
		h2 24

		p Though Brick was listening, his mind was fixated on some adjacent point.

		q.brick Tell me something.

		q.clemen Hmm?

		q.brick Is Samantha a tribute, or a replacement?

		q.clemen Pardon?

		p Brick pulled up the photograph of Heidi on his phone. 
		q.brick I noticed it when I first saw this, but I had to see your android in person again to be sure. They're the same. Even though Samantha is ... not very realistic, let's say ... she has Heidi's features, not withstanding the burn. The color of the eyes, the cheekbones, the lips, the chin, the hair. Even the narrow shoulders. Not the skin of course, but the shape is clearly the same. Almost like you made a mask from a cast of Heidi's face. So I'll ask again. Tribute, or replacement?

		p Clemen nodded slowly, and shyly looked at the ground with a smile, lost in some pleasant memory. He took off his glasses and started cleaning one of the lenses with his shirt. 

		q.clemen Samantha is... simply my best work, that's all. Truly inspired. Samantha and Heidi would have gotten along, I'm sure.

		p He paused for a long while, thinking, then put his glasses back on.

		q.clemen You are welcome to think my design choices odd. But, appearances aside, Samantha is an independent mind. Please think of her as such.

		p Brick hesitated.
		q.brick  Fine. But if she gets in the way, I'm returning to sender.

		q.clemen Perfect.
		p Here Clemen extended his hand. Brick shook it.
		q.clemen I'll transfer your initial payment today.
	
	.page
		h2 25

		q.brick One more question. What's with the umbrella?

		q.clemen Hmm. 
		p He put a finger to his lips thoughtfully, but said nothing more.

		q.brick When your android showed up. She had an umbrella. 

		p Brick was vaguely aware of some mention of umbrellas in some android's documentation, but couldn't remember where. It was in fact on page 30 of the original Helpmate's manual.

		q.screen
			p While the Helpmate(TM) is water resistant, it is not waterproof. They contain steel parts which will rust if neglected, and some connections may short if too wet, which could cause permanent damage. To ensure a long, healthy service life for your Helpmate, please observe the following guidelines.

			p Never submerge the Helpmate in water or send it out in heavy rain. Light rain shouldn’t cause problems, but we do suggest an umbrella. A patented THESIS umbrella can be found at your local android supply store or through one of our online partners.

			p If the Helpmate gets significantly wet, turn it off immediately. Dry it with a towel, and then allow it to air dry completely before turning it on again. THESIS is not responsibly for any damage resulting from leaving the Helpmate on when it is wet.

			p If you have a Helpmate II or Helpmate Porcelain Collection, oil its exposed joints regularly to avoid rust. If light rust has begun, we suggest cleaning it with a scrubbing sponge dipped in alcohol. If the rust is severe, take your Helpmate to a THESIS certified technician.

			p While we know you’ll do your best to care for your Helpmate, we know accidents can happen. If you would like to purchase an extended care plan to insure against water damage and other mishaps, simply contact a THESIS representative before your warranty expires.

		p Of course, rain was not possible in Caldera. While the rest of the android's dress seemed fashionable, the umbrella put it over the top, making the whole thing look like a costume.

		q.clemen That is a puzzle, isn't it? 
		p He chuckled to himself quietly.
		q.clemen She wanted one after seeing it in an advertisement.