extends default.pug
block head
	+meta("The Last Lights", "Chapter 1 of Daughter of a Voice")
block content
	.page.chapter-title
		span.chapter-number Chapter 1
		h1 The<br>Last<br>Lights
	.page
		h2 01
		p 1AM. Far from the main road was a narrow, seldom-travelled street. Really, not much travel happened on any street. Only a few streets ever had much traffic in the first place, and this wasn’t one of them. The blueprints labelled the street as 2C, since it was on the second floor, and the third lane clockwise from the central elevator. But there was no sign, and no one called it that. No one called it anything.

		p Once, it was filled with light. Now, there weren’t many lights anywhere in the city. To conserve power, only every third street light was lit. On 2C, possibly due to some problem in the wiring, at least two lights in this sequence didn’t work, leaving long stretches of darkness.

		p It was lined with empty storefronts. Some were cluttered with junk. Others were as pristine and empty as the day they were constructed. It was quiet, but not silent. The HVAC was still going strong. The ventilation fans at the end of each street spun slowly, creating a gentle wind due to their titanic size. Radiators pinged and popped as they carried heat from the boiler far below. And everywhere, a soft white noise of various mechanical sounds. Electric hums from the ceiling, soft clicks within the walls. Murmurs from distant machines carrying out their unknown functions, as they had done since day one.

		p There was a laundromat, still technically open for business since it had no need of employees. Tonight, a lone dryer spun, tumbling a small, canary-yellow pea coat. At the predetermined time, its cycle completed, and all sound here ceased.
	.page
		h2 02
		p Nearby, a girl walked alone. She’d been walking for some time when she first heard the footsteps of another. It was straight ahead, coming her way, but it was too dark to make out the features. It was a tall figure in the shape of a man, but its precise movements told her it was probably not human. Soon, they crossed paths, and it continued without turning to acknowledge her.

		p As she suspected, it stopped at the box. It was a big metal crate, the same kind used to transport goods everywhere. For weeks now, it stood empty in the middle of the street, turned on its side to make it taller, as if for attention. It happened to be directly under the street light. She knew androids sometimes stopped here, but she’d never seen it up close, and today felt emboldened to watch.

		p Standing in front of the box, the figure started fiddling with its hand. She quietly positioned herself to get a better angle of view. Formal clothing, neutral expression and pale, not quite realistic skin. Definitely an android. It was unscrewing the tip of its pinky finger. Having done so, it placed it on the barrel and walked away. The android soon vanished from the little island of light, though she could still hear the footsteps. Careful not to draw attention, the girl approached the box for a closer look. Atop the box were dozens of small metallic objects that glimmered in the street light. Screws, wires, washers, bearings, and tiny electronic parts she couldn’t identify. In lingering there, she suddenly felt that she was trespassing, and stepped away.
	.page
		h2 03
		p A short time later, the laundromat’s automatic doors parted, and a girl walked in to retrieve her coat. She slipped it over her arms. Yes–it was still warm. Comforted by this, she crossed the last, longest stretch of unlit road to her destination. She could see it now. Among an endless row of dark windows into empty spaces, one light remained. Cybil’s Diner. From its window came a yellow glow that could be seen at some distance.

		p A bell rang as she entered the door. It was an unusual room whose original purpose was uncertain: an oblong corridor in the shape of a crooked “L”, with high ceilings. Mismatched lamps at every booth filled the room with soft light.

		p She looked around the kitchen for no particular reason, then took her usual seat in the corner, draped the jacket over her bare legs for warmth, and began browsing an earthside fashion magazine on her personal tablet. It was a cozy corner close to the radiator, and she could see the rest of the diner in all its emptiness. She pulled the lamp closer. Its inefficiency made it slightly warm. Her booth was cold at first, but before long she’d settled in and became comfortable. She curled into a ball and sat this way reading for some time, until the bell on the front door rang, which made her jump.