extends default.pug
block head
	+meta("Minerva Covenant", "A science fiction universe by Justin Mulwee")
block content
	.page.chapter-title
		h1 Daughter <br> of a <br> Voice
	.page.contents
		a(href="chapter-1.html") 01 - The Last Lights
		a.upcoming 02 - Shape of a Woman
		a.mystery ???
	.page
		span An in-progress science fiction novel by Justin Mulwee