extends default.pug
block head
	title Daughter of a Voice
	meta(name='description', content='A science fiction novel for the internet age')
block content
	.page.chapter-title
		h1 Daughter <br> of a Voice
		.byline An in-progress science fiction novel for the internet age. <br> Written by Justin Mulwee. <br> Illustrated by Bret Caverly.
		.contents
			a(href="chapter-1.html") 01 - The Last Lights
			a(href='chapter-2.html') 02 - Shape of a Woman
			a.upcoming 03 - Doubts of the Instrument
			a.mystery ???