extends default.pug
block head
	+meta("Daughter of a Voice", "A sci-fi novel in the Minerva Covenant Universe")
block content
	.page.chapter-title
		h1 Daughter <br> of a Voice
		.byline An in-progress science fiction novel. <br> Written by Justin Mulwee. <br> Illustrated by Bret Caverly.
		.contents
			a(href="chapter-1.html") 01 - The Last Lights
			a.upcoming 02 - Shape of a Woman
			a.mystery ???