extends default.pug
block head
	+meta("Daughter of a Voice", "A sci-fi novel in the Minerva Covenant Universe")
block content
	.page.chapter-title
		h1 Daughter <br> of a <br> Voice
	.page.contents
		a(href="chapter-1.html") 01 - The Last Lights
		a.upcoming 02 - Shape of a Woman
		a.mystery ???
	.page
		p An in-progress science fiction novel <br> written by Justin Mulwee <br> illustrated by Bret Caverly