extends default.pug
block head
	+meta("Minerva Covenant", "A science fiction universe by Justin Mulwee")
block content
	.page 
		h2 Hello.
		p Where am I? Who am I?
		p Some questions are easier to answer than others. You are at my website.
		p Minerva Covenant is a science fiction universe which exists mostly in the head of Justin Mulwee (that's me). I think one day you'll agree it's a fitting title, but not anytime soon. It started as a vague concept which led to a short story I wrote a few years ago, which is about an android's inner thought life. You can read that story here.

		a.giant(href="mildred.html") Mildred's Altered Self

		p I am now working on a web novel that explores some of the same themes. I plan to publish that novel here chapter by chapter, hopefully featuring some illustrations from my friend Bret, as well. Honestly, I've been working on it for years but don't have much to show. I do have a massive collection of increasingly organized notes. But mostly, it's taken a long time to learn how my writing process even works.

		p The novel, tentatively titled Daughter of a Voice, takes place in Caldera, a half-constructed ghost city with a sparse human population and just as many androids searching for identity and meaning in the absence of their creator. It probably won't be finished for quite a while, but I'm happy to share the process publicly. You're welcome to start reading chapters as they're written, linked below. 

		a.giant(href="daughter.html") Daughter of a Voice

		p In that same spirit, the text of the finished chapters and this entire site are a public github repository. If I later fixed a plot hole for example, the patch would remain public: <a href="https://github.com/justinmulwee/minervacovenant.com"> github/justinmulwee/minervacovenant.com </a>

		p Oh, and here's some early, like REALLY early concept art from Bret. Sorry, Bret.
	.page
		img(src="alfred.jpg")
		img(src="new-frey.jpg")
		img(src="frey-blue.jpg")