extends default.pug
block head
	+meta("Minerva Covenant", "A science fiction universe by Justin Mulwee")
block content
	h1 Minerva Covenant
	p This is the new site. Ain't it grand? Ok, I know, there's not really anything here yet.
	p Some time ago, I wrote a short story about an android's inner thought life. I am now working on a web novel that explores the same themes. I plan to publish that novel here chapter by chapter, hopefully featuring some illustrations from my friend Bret, as well.
	p For now, you can read that original story, <a href="mildred.html">Mildred's Altered Self</a>.